@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Thin.ttf');
	font-weight: 100;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-ExtraLight.ttf');
	font-weight: 200;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-SemiBold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Bold.ttf');
	font-weight: 700;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-ExtraBold.ttf');
	font-weight: 800;
}
@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Black.ttf');
	font-weight: 900;
}

@mixin clearfix {
	content: '';
  display: table;
  clear: both;
}

* {
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

*::selection {
	background-color: #000;
	color: white;
}

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #000;
	color: #fff;
}

header, section, footer, aside, nav, main, article, figure {
  display: block;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

main {
	position: relative;
	height: 100vh;
	min-height: 100vh;
	padding-top: 150px;
	padding-bottom: 150px;
}

header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 100px 100px 0 100px;
	z-index: 1;
	.toolbar {
		float: right;
	}
	&:after {
		@include clearfix();
	}
}

section {
	height: 100%;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0 100px 100px 100px;
	z-index: 1;
	&:after {
		@include clearfix();
	}
}

.logo {
	float: left;
	svg {
		display: block;
		cursor: pointer;
	}
}

.sourceCode {
	display: inline-block;
	margin-left: 12px;
	a {
		color: #fff;
		text-decoration: none;
		font-size: 18px;
    font-weight: 600;
    line-height: 1;
	}
}

.socials {
	float: left;
	.socialLink {
		color: #fff;
		text-decoration: none;
		margin-right: 48px;
		font-size: 16px;
		font-weight: 200;
		white-space: nowrap;
		&:last-child {
			margin: 0;
		}
	}
}

.contacts {
	float: right;
	.contact {
		color: #fff;
		margin-left: 48px;
		font-size: 16px;
		font-weight: 200;
		white-space: nowrap;
		&:first-child {
			margin: 0;
		}
	}
}

.loading {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 250px;
	margin-left: -125px;
	height: 43px;
	margin-top: -22px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	span {
		font-family: monospace;
		display: block;
		height: 40px;
		line-height: 40px;
		font-size: 20px;
		font-weight: 100;
		text-align: center;
	}
	.loadingBar {
		height: 1px;
		background: #fff;
	}
}

.sideLinks {
	.link {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100px;
		&:hover .text span:after {
			width: 120%;
			left: -10%;
		}
		.text {
			transform-origin: center;
			position: relative;
			top: 50%;
			margin-top: -10px;
			color: #fff;
			text-align: center;
			span {
				text-decoration: none;
				text-transform: uppercase;
				line-height: 1;
				font-size: 18px;
				font-weight: 200;
				display: inline-block;
				&:after {
					content: '';
					position: relative;
					top: 10px;
					display: block;
					width: 0%;
					left: 50%;
					height: 2px;
					background: #fff;
					transition: .3s;
				}
			}
		}
		&.rightLink {
			right: 0;
			.text {
				transform: rotate(-90deg);
			}
		}
		&.leftLink {
			left: 0;
			.text {
				transform: rotate(90deg);
			}
		}
	}
	&:after {
		@include clearfix();
	}
}

.background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	z-index: -1;
	.backgroundImage {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
		&.home {
			background-image: url('/images/home.png');
		}
		&.bio {
			background-image: url('/images/bio.png');
		}
		&.projects {
			background-image: url('/images/projects.png');
		}
	}
	.jspower {
		height: 100%;
		display: block;
		position: absolute;
		right: 160px;
		top: 0;
		svg {
			position: relative;
			height: 100%;
		}
	}
}

.content {
	display: table;
	height: 100%;
	width: 100%;
	.contentAlign {
		display: table-cell;
		vertical-align: middle;
		padding: 0 100px;
	}
}

.homeTitle {
	overflow: hidden;
	position: relative;
	margin-left: 100px;
	img {
		display: block;
	}
}

.textSection {
	overflow: hidden;
	margin-bottom: 10px;
	.sectionWrap {
		display: inline-block;
		h2 {
			margin: 0;
			font-size: 16px;
			font-weight: 500;
		}
		.sectionContent {
			p {
				margin: 0;
				font-weight: 200;
				font-size: 14px;
			}
		}
	}
}

.bioIndent {
	padding-left: 10%;
}

.projectSlideshow {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	.control {
		padding: 20px 40px;
		font-size: 32px;
		font-weight: 300;
		cursor: pointer;
		color: #aaa;
		transition: .3s;
		&:hover {
			color: #fff;
		}
	}
}

.project {
	text-align: center;
	width: 500px;
	height: 145px;
	.projectImage {
		display: none;
		height: 200px;
		width: 200px;
		margin: auto;
		margin-bottom: 20px;
		img {
			height: 100%;
			display: block;
			border: 1px solid rgba(255,255,255,0.3);
		}
	}
	.projectName {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 16px;
		line-height: 20px;
		height: 20px;
	}
	.projectDescription {
		font-weight: 200;
		font-size: 15px;
		margin: 10px 0;
		line-height: 20px;
	}
	.projectLink {
		height: 25px;
		a {
			color: #fff;
			font-size: 15px;
			font-weight: 300;
		}
	}
}

.navigation {
	text-align: center;
	padding-top: 30px;
	.navigationItem {
		display: inline-block;
		width: 10px;
		height: 10px;
		border-radius: 100%;
		background: rgba(255, 255, 255, 0.3);
		margin-right: 10px;
		transition: .3s;
		&:last-child {
			margin: 0;
		}
		cursor: pointer;
		&.active {
			background: rgba(255, 255, 255, 1);
		}
	}
}

@media (max-height: 800px) {
	main {
		height: auto;
	}
}

@media (max-width: 1199px) {
	.background {
		.jspower {
			right: 30px;
		}
	}
	.homeTitle {
		margin-left: 0;
	}
	.bioIndent {
		padding: 0;
	}
}

@media (max-width: 991px) {
	main {
		padding: 125px 50px 195px 50px;
	}
	header {
		padding: 50px 50px 0 50px;
	}
	footer {
    padding: 0 50px 50px 50px;
	}
	.content {
		.contentAlign {
			padding: 0;
		}
	}
	.homeTitle {
		margin-left: 0;
	}
	.socials {
		float: none;
	}
	.contacts {
		float: none;
		margin-top: 10px;
	}
	.sideLinks {
		position: absolute;
		width: 100%;
		bottom: 120px;
		left: 0;
		padding: 0 50px;
		a:last-child {
			.link {
				margin: 0;
			}
		}
		.link {
			position: relative;
			height: auto;
			width: auto;
			float: left;
			margin-right: 20px;
			&:hover {
				.text {
					span {
						color: rgba(255, 255, 255, 1);
					}
				}
			}
			.text {
				transform: none !important;
				margin-top: 0;
				top: 0;
				span {
					text-decoration: underline;
					color: rgba(255, 255, 255, 0.7);
					&:after {
						display: none;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	main {
		padding: 85px 30px 155px 30px;
		height: auto;
	}
	header {
    padding: 30px 30px 0 30px;
	}
	section {
		padding: 50px 0;
	}
	footer {
    padding: 0 30px 30px 30px;
	}
	.sideLinks {
		bottom: 100px;
    padding: 0 30px;
	}
	.project {
		width: auto;
    height: auto;
	}
	.background {
		.backgroundImage {
			&.projects {
				background-image: url('/images/projectsMobile.png');
			}
		}
	}
}

@media (max-width: 575px) {
	main {
    padding: 65px 20px 210px 20px;
	}
	header {
		padding: 20px 20px 0 20px;
	}
	footer {
    padding: 0 20px 20px 20px;
	}
	.background {
		.jspower {
			height: 50%;
    	top: 50%;
		}
	}
	.sideLinks {
		bottom: 165px;
		padding: 0 20px;
	}
	.socials {
		.socialLink {
			display: block;
			margin: 0;
		}
	}
	.contacts {
		.contact {
			display: block;
			margin: 0;
		}
	}
	.projectSlideshow {
		.control {
			padding: 20px 10px;
		}
	}
}
