:root {
	--black: #000;
	--white: #fff;
}

html {
	font-size: 10px;
}

body {
	background: var(--black);
	background: radial-gradient(#212b3e 0%, var(--black) 100%);
	color: var(--white);
	margin: 0;
	font-family: monospace;
	font-size: 2rem;
	height: 100vh;
	width: 100vw;
}

#root {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}

.hint {
	position: absolute;
	background-image: url(../assets/pointer.svg);
	background-size: 2rem 2rem;
	background-repeat: no-repeat;
	width: 2rem;
	height: 2.5rem;
	animation: hover 1.5s ease-in-out infinite, fadeIn .5s;
}

@keyframes hover {
	0% { background-position: 0 0; }
	50% { background-position: 0 0.5rem; }
	100% { background-position: 0 0; }
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
